

<div class="jumbotron">
  <h1 id="landing-title">Green State</h1>
  <div class="intro">
    <h3>in the Northwest there is a great debate.</h3>
    <h3>which is the greener?</h3>
    <h3>Oregon or Washington</h3>
    <h3>you decide...</h3>
  </div>
</div>
